
.button-container{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    padding: 4px;
    cursor: pointer;
    user-select: none;
}

.button-container:hover{
    background-color: rgba(77, 76, 76, 0.212);
}


.operador{
    
    background-color: rgba(78, 78, 78, 0.541);
}

.operador:hover{
    background-color: rgba(226, 137, 53, 0.897);
}